@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Pinyon+Script&display=swap');

:root{/*Criação de variaveis*/
    /*Cores*/
    --cor-primaria: #31565C;
    /*Fontes*/
    --fonte-logo: "Libertinus Sans", sans-serif;
    /*Tamanho fonte*/
    --fonte-tamanho-logo: 1.5em; 


}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#cabecalho {
    padding: 10px;

    /*Estruturar o layout com o grid*/
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap: 0px 100px;
}

#logo {

    display: flex; /*Utilizando para alinhar ao centro*/

    align-items: center;
    justify-content: center;

    height: 100px;
}

#logo p{
    /*Fonte Familia Tipo*/
    font-family: var(--fonte-logo);
    font-weight: 700;
    font-style: normal;
    font-size: var(--fonte-tamanho-logo); /*rem(Raiz,HTML) ou em (Pai)*/

    line-height: 30px;
    letter-spacing: 1px;
    word-spacing: 10px;

    text-align: justify;
    text-transform: capitalize;
    text-decoration: none;
    /*sombra-Eixo X Eixo Y Esfumaçado Cor/Opacidade*/
    text-shadow: 10px 10px 10px rgba(0,0,0,.5);

    /*R G B*/
    color: var(--cor-primaria);

}

#menu_principal {
    height: 100px;
    padding: 0px 10px;

    display: grid;

    grid-template-columns: 1fr;

    /*align-items(vertical) justify-items(horizontal)*/
    place-items: center end;
}


#itens_menu ul{
    padding: 10px;
    list-style: none;

    display: flex;
    
    gap: 30px;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end;

}

#quem_sou {
    background-color: darkkhaki;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 10px;

}

#informacoes_texto {
    background-color: lightblue;

}

#informacoes_texto {
    background-color: midnightblue;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 1fr;
    gap: 10px 0px;

}

#titulo_informacoes {
    background-color: aliceblue;

}

#botao_informacoes {
    background-color: brown;

}

#redes_sociais_informacoes {
    background-color: darkorchid;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center start;
}

.redes_sociais {
    background-color: powderblue;
    height: 50px;
    width: 50px;
}

#foto {
    background-color: lightblue;

}

#pag_sobre{
    background-color: bisque;
    height: 500px;
}

#titulo_sobre{
    background-color: rgb(8, 85, 85);
    height: 10%;
    color: aliceblue;
    text-align: center;
    
}
#sessao_sobre{
    background-color: plum;
    height: 450px;
    padding: 10px;
    

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
}

#foto_sessao{
    background-color: firebrick;
    
}

#iam_marlon{
    background-color: skyblue;
    
}

#rodape {
    background-color: burlywood;
    height: 100px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 2fr;

}

#nome_marca {
    background-color: navy;
    color: aliceblue;
    text-align: center;
}

#redes_sociais_rodape {
    background-color: crimson;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center center;

}

.redes_sociais_rodape {
    background-color: darkseagreen;
    height: 50px;
    width: 50px;
}

#Bedimcode {
    background-color: blueviolet;
    color: aliceblue;
    text-align: center;

}