@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Imperial+Script&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Pinyon+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Pinyon+Script&display=swap');

:root{/*Criação de variaveis*/
    /*Cores*/
    --cor-primaria: #cd8d00;
    /*Fontes*/
    --fonte-logo: "Pinyon Script", sans-serif;
    /*Tamanho fonte*/
    --fonte-tamanho-logo: 2.0em;
    --fonte-menu-principal: "Libertinus Sans", sans-serif;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#cabecalho{
    /*width style color*/
    border-bottom: 2px solid var(--cor-primaria);
    /*eixo X eixo Y esfumaçado cor*/
    box-shadow: 5px opx 5px rgba(0,0,0,.5);
    padding: 10px;

    /*Estruturar o layout com o grid*/
    display: grid;
    /*1º coluna 2º coluna*/
    grid-template-columns: 1fr 7fr;
    /*row colum*/
    gap: 0px 100px;

}

#logo {
    display: flex; /*Utilizando para alinhar ao centro*/
    align-items: center;
    justify-content: center;
    height: 100px;
}

#logo p{
    /*Fonte Familia Tipo*/
    font-family: var(--fonte-logo);
    font-weight: 700;
    font-style: normal;
    font-size: var(--fonte-tamanho-logo); /*rem(Raiz,HTML) ou em (Pai)*/
    background-color: none;
    width: 300px;

    line-height: 50px;
    letter-spacing: 1px;
    word-spacing: 10px;

    text-align: justify;
    text-transform: capitalize;
    text-decoration: none;
    /*sombra-Eixo X Eixo Y Esfumaçado Cor/Opacidade*/
    /*text-shadow: 10px 10px 10px rgba(0,0,0,.5);*/

    /*R G B*/
    color: var(--cor-primaria);

}

#menu_principal {
    padding: 0px 10px;
    display: grid;
    grid-template-columns: 1fr;
    /*align-items(vertical) justify-items(horizontal)*/
    place-items: center end;
    font-family:var(--fonte-menu-principal);
    font-weight: 700;
    font-style: normal;
}

#itens_menu ul{
    padding: 10px;
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end;
    font-size: 25px;

}

#itens_menu li{
    /*background-color: var(--cor-primaria);*/
    padding: 10px;

}

#itens_menu li:hover{
    border-bottom: 5px solid var(--cor-primaria);
    color: var(--cor-primaria);
    cursor: pointer;
}

#quem_sou:hoover{ /*Pseudoclasse*/
    background: radial-gradient(var(--cor-primaria),rgb(78,136,78));

}

#quem_sou.desktop{

    transition: 1s;
    /*background-image: url(/midias/image/mulher.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;*/

    /* plano de fundo com gradiente linear - (ângulo,cor,cor) */
    /*background: linear-gradient(45deg, red,var(--cor-primaria));
    background-attachment: fixed;*/

    /* plano de fundo com gradiente radial - (ângulo,cor,cor) */
    background: radial-gradient(rgb(224, 224, 224),var(--cor-primaria));
    background-attachment: fixed;

    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 10px;
    justify-items: center;

}

#quem_sou.mobile{

    transition: 1s;
    /*background-image: url(/midias/image/mulher.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;*/

    /* plano de fundo com gradiente linear - (ângulo,cor,cor) */
    /*background: linear-gradient(45deg, red,var(--cor-primaria));
    background-attachment: fixed;*/

    /* plano de fundo com gradiente radial - (ângulo,cor,cor) */
    background: radial-gradient(rgb(224, 224, 224),var(--cor-primaria));
    background-attachment: fixed;

    padding: 10px;

    display: none;

    grid-template-columns: 1fr;
    gap: 0px 10px;

    justify-items: start;

}

#informacoes_texto {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;

    /*Tamanho daslinhas em ordem*/
    grid-template-rows: 4fr 1fr 1fr;
    gap: 10px 0px;


}

#titulo_informacoes {
    font-family: var(--fonte-menu-principal);
    color: aliceblue;
    font-size: 2rem;

}


#botao_informacoes button{
    padding: 10px;
    border: none;
    background-color: #f5e0b3;
    font-size: 1rem;
    font-weight: bold;
    color: var(--cor-primaria);


    /*Arredondamento de bordas*/
    border-radius: 5px;
    box-shadow: rgba(0,0,0,.5);

}

#botao_informacoes button:hover{
    background-color:black;
}

#redes_sociais_informacoes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center start;
}

.redes_sociais:hover {
    cursor: pointer;
    opacity: 0.5;
    
}

#foto {
    padding: 10px;

}

#foto figure img{
    border-radius: 1000px;
    box-shadow: 5px 10px 10px rgba(0,0,0,.5)
}

#pag_sobre{
    background-color: bisque;
    height: 500px;
    display: none;
}

#titulo_sobre{
    background-color: rgb(8, 85, 85);
    height: 10%;
    color: aliceblue;
    text-align: center;
    display: none;
    
}
#sessao_sobre{
    background-color: plum;
    height: 450px;
    padding: 10px;
    

    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
}

#foto_sessao{
    background-color: firebrick;
    
}

#iam_marlon{
    background-color: skyblue;
    
}

#rodape {
    background-color: burlywood;
    height: 100px;

    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 2fr;

}

#nome_marca {
    background-color: navy;
    color: aliceblue;
    text-align: center;
}

#redes_sociais_rodape {
    background-color: crimson;

    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center center;

}

.redes_sociais_rodape {
    background-color: darkseagreen;
    height: 50px;
    width: 50px;
}

#Bedimcode {
    background-color: blueviolet;
    color: aliceblue;
    text-align: center;

}
/*Adaptação para Mobile*/
@media(max-width: 800px){

#cabecalho{
    grid-template-columns: 1fr;

}

#itens_menu ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu_principal{
    place-items: center center;

}
/*Formato de interruptor*/
#quem_sou.desktop{
    display: none;
}
#quem_sou.mobile{
    display: grid;
}
}
